# -*- coding: utf-8 -*-
#
# Copyright (C) 2019 CESNET.
#
# Invenio OpenID Connect is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

notifications:
  email: false

sudo: false

language: python

matrix:
  fast_finish: true

cache:
  - pip

env:
  global:
    #- POSTGRESQL_SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/invenio"
    - ES7_DOWNLOAD_URL="https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.5.1-linux-x86_64.tar.gz"
    - ES_HOST=127.0.0.1
  matrix:
    - REQUIREMENTS=release OAREPO_VERSION=3.3.0 ES=$ES7_DOWNLOAD_URL EXTRAS=tests

python:
  - "3.8"

before_install:
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder pip-tools"
  - "requirements-builder -e $EXTRAS --level=pypi setup.py > .travis-release-requirements.in"
  - "pip-compile -U --verbose -o .travis-release-requirements.txt .travis-release-requirements.in"
  - cat .travis-release-requirements.txt
  - mkdir /tmp/elasticsearch
  - wget -O - $ES | tar xz --directory=/tmp/elasticsearch --strip-components=1
  - "/tmp/elasticsearch/bin/elasticsearch &"
  - sleep 10

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[$EXTRAS]"
  - "travis_retry pip install -e sample"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: "kK4xjg/rGW7uev566Rqu5S2bZbksQNHpzNDGvY/wURKiVLCQufwtXsM9scntvE3S6+EgrdGiU/sZTjUgK45czMmGX9lGslHepUM/tGDsOBRfDp/erDnwh5xSO4JqYKATqg1HAsipWUepUjiblCa1VkF7JSp4Wl6gziiZ7m0q+BMYCRGtqQE47+CPQOZBUYV95ozPnL/U5MSHHEUORELFcHmHbnTEisaZr/6QDEqsGezD+ZMvD5bRl761VcQLO4GCg8Fzx4xz1jr8p/ybn/WgZc4muoNOb5qutpmKFwTdj7FIbDaCNNQBQDKMJ24DKcvi5StB9ssVnjdSl4RC2p1GvggoMyRoARxn4NsHSVBJcwH0f8fb+WULfxEnVGbQxrah5As/mJRYoFQuzgRntVasa6UxFr71Cxj2bF/kYOphMynJTEDqpuyA7ijA6Qa/M6xsHxfgfYzJqL8X/blNgHoSNWAw0rOcJCK9AW3DdKWhRCDNSuavhUtgZKOUIwIVLw4lIhs2Ucjh4ptZQq+Z+hmKQZym3UowCpj8uvxn6bPlbNZyPAY9BLIbb/HfkizSwwfxsw57u9N5U2u4kpvXYkm1VZP9Z6hU/meOU90xGcPDcI78QeE9Rdk6ruW4pd+Y0Fe1OzczxBLPHUOZL8K5A/l5MVLdmJpfaLFr67DyzzJHBjI="
  on:
    tags: true
    branch: master
  distributions: "sdist bdist_wheel"
  skip_existing: true
